<form action="/LOTR_Fest/<%= @stage.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <div class="form-group">
    <label for="stage_name">Stage Name</label>
    <input type="text" name="stage_name">
    <label for="stage_location">Stage Location</label>
    <input type="text" name="stage_location">
    <label for="stage_date">Date</label>
    <input type="text" name="stage_date">
  </div>
  <button type="submit">Update</button>

</form>

<form action="/LOTR_Fest/<%= @stage.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete Stage</button>
</form>



<a href="/LOTR_Fest">Back to Home</a>
