<!DOCTYPE html>
<html>
  <head>
    <title>The One Festival to Rule Them All</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>The One Festival</h1>
      <h2>To Rule Them All</h2>
      <hr>
      <% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
      <%= yield %>
    </div>
  </body>
</html>
