<%=flash[:notice] %>
<form class="" action="/LOTR_Fest" method="post">

  <div class="form-group">
    <label for="stage_name">Stage Name</label>
    <input type="text" name="stage_name">
    <label for="stage_location">Stage Location</label>
    <input type="text" name="stage_location">
    <label for="stage_date">Stage Date</label>
    <input type="text" name="stage_date">
  </div>
  <button type="submit">Add Stage</button>
</form>
